* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  background-color: gold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 25px;
  position: relative;
}
.profile-card::before{
    content: "";
    position: absolute;
    height: 36%;
    width: 100%;
    background-color: rgba(29, 161, 242, 1);
    top: 0;
    left: 0;
    border-radius: 25px 25px 0 0;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 0px solid white;
}
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.text-data .name {
  font-size: 22px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.text-data .job {
  font-size: 15px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.profile-card .media-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.media-buttons .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 18px;
  justify-content: center;
  margin: 0 8px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons .button {
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5 ease;
}
.buttons .button:hover {
  background-color: red;
}
.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid white;
}
.data i {
    font-size: 18px;
    margin-right: 6px;
}
.data:last-child{
    border-right: none;
}
